GUI/Service References/CustomerService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51143/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51143/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51143/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_ListCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ListCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="ListCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/ListCustomers" message="tns:ICustomerService_ListCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/ListCustomersResponse" message="tns:ICustomerService_ListCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerDetails" message="tns:ICustomerService_GetCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerDetailsResponse" message="tns:ICustomerService_GetCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/SaveChanges" message="tns:ICustomerService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/SaveChangesResponse" message="tns:ICustomerService_SaveChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ListCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/SaveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:51143/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>